html,
body {
    height: 100%;
    font-size: 22px;
}

.container {
    font-family: Calibri, serif;
}

.wrapper {
    background-color: #B6B6B6;
    background-size: cover;
}

.footer {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343A40;
}

.footer span {
    color: #999DA0;
}

.message-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.info label {
    font-size: 20px;
}

.link {
    color: #0366D6;
}

.default-page {
    min-height: calc(100vh - 185px);
}

.notification-page {
    min-height: calc(100vh - 185px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

#error-page-500 {
    min-height: calc(100vh - 185px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background: url('../images/500.jpg');
}

#error-page-500 h1 {
    color: #f0f0f0;
}

#error-page-404 {
    min-height: calc(100vh - 185px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background: url('../images/404.jpg');
}

#error-page-404 h1 {
    color: #f0f0f0;
}

#pagination_block {
    color: black;
}

#pagination_block a {
    color: black;
}

#lang_switch a {
    font-size: 18px;
    color: #999DA0;
}

#tool_photo {
    height: 300px;
    width: 300px;
}

#tool_photo_list {
    height: 70px;
    width: 70px;
}

#avatar {
    height: 300px;
    width: 300px;
}

#avatar_mini {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#main-info {
    font-size: 24px;
    font-weight: 500;
}

#select {
    background-color: #999DA0;
}